@model HealthcareApplications.Models.UserModels.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionIndex1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionIndex1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionResponse1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionResponse1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionIndex2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionIndex2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionResponse2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionResponse2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionIndex3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionIndex3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionResponse3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionResponse3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
